*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.soc
*.pdf
Syllabus/*.aux
Syllabus/*.bbl
Syllabus/*.bcf
Syllabus/*.blg
Syllabus/*.log
Syllabus/*.nav
Syllabus/*.out
Syllabus/*.run.xml
Syllabus/*.snm
Syllabus/*.soc
Syllabus/*.pdf

Folien/*.bcf
Folien/*.log
Folien/*.nav
Folien/*.run.xml
Folien/*.snm
Folien/*.toc
Folien/*.pdf
Folien/*.tex
Folien/*.synctex.gz
