*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.soc
*.pdf
Syllabus/*.aux
Syllabus/*.bbl
Syllabus/*.bcf
Syllabus/*.blg
Syllabus/*.log
Syllabus/*.nav
Syllabus/*.out
Syllabus/*.run.xml
Syllabus/*.snm
Syllabus/*.soc
Syllabus/*.pdf
Syllabus/*.synctex.gz

Folien/*.aux
Folien/*.bcf
Folien/*.log
Folien/*.out
Folien/*.snm
Folien/*.nav
Folien/*.run.xml
Folien/*.snm
Folien/*.toc
Folien/*.pdf
Folien/*.synctex.gz
Folien/*.vrb

Folien-Code/*.aux
Folien-Code/*.bcf
Folien-Code/*.log
Folien-Code/*.out
Folien-Code/*.snm
Folien-Code/*.nav
Folien-Code/*.run.xml
Folien-Code/*.snm
Folien-Code/*.toc
Folien-Code/*.pdf
Folien-Code/*.tex
Folien-Code/*.synctex.gz
Folien-Code/*.vrb

*.Rproj
.Rproj.user
